{% extends 'base.html' %}

{% block title %}Inicio - ARTeacher{% endblock %}

{% block content %}
    
    <div id="informe">
        {% include 'components/_form_informe.html' %}
    </div>

    <div id="acta-tecnica" class="hidden">
        {% include 'components/_form_acta_tecnica.html' %}
    </div>

    <div id="reportes-maestria" class="hidden">
        {% include 'components/_form_maestria.html' %}
    </div>

    <div id="socializacion-estudiantes" class="hidden">
        {% include 'components/_form_estudiantes.html' %}
    </div>

    <div id="socializacion-docentes" class="hidden">
        {% include 'components/_form_docentes.html' %}
    </div>

{% endblock %}